# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# IDE
.vscode
.idea

# Documentation
README.md
CHANGELOG.md
LICENSE

# Environment
.env
.env.*

# Node
**/node_modules
**/dist
**/build
**/.env

# Logs
**/logs
**/*.log

# Misc
.DS_Store
Thumbs.db